{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br></br>
    <h2 class="display-6">
        Eigenvalues and eigenvectors
    </h2> 
    <br>
    <p>
        "Characteristic root" redirects here. For the root of a characteristic equation, see Characteristic equation (calculus).
        In linear algebra, an eigenvector (/ˈaɪɡənˌvɛktər/) or characteristic vector of a linear transformation is a nonzero vector that changes at most by a scalar factor when that linear transformation is applied to it. The corresponding eigenvalue, often denoted by 
        λ \lambda , is the factor by which the eigenvector is scaled.
    </p>
    <p>
        Geometrically, an eigenvector, corresponding to a real nonzero eigenvalue, points in a direction in which it is stretched by the transformation and the eigenvalue is the factor by which it is stretched. If the eigenvalue is negative, the direction is reversed.[1] Loosely speaking, in a multidimensional vector space, the eigenvector is not rotated.
        From Wikipedia, the free encyclopedia    
    </p>
</div>

{% endblock %}